/* mobile first */


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.aloha-logo {
    order: 1;
}
.aloha-logo img {
    max-width: 115px;
    padding-top: 10px;
}
.bin-logo {
    order: 2;
    align-self: right;

}
.bin-logo img {
    max-width: 50px;
    padding-top: 10px;
}

.nav {
    order: 3;
    display: block;
    
}

.nav ol {
    list-style-type: none;
}
.nav a {
    color: #e2574c;
    text-decoration: none;
}



.banner {
    background: url(../images/banner-girl.png) no-repeat center 70px,
                url(../images/flower-bkgd.jpg) repeat-x top;
    height: 500px;
    background-size: 200px, cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.categories {
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    background-size: cover;

}



.mens {
    background: url(../images/mens-category.jpg) center;
    
}

.trends {
    background: url(../images/trends-category.jpg) center;
    
}

.glasses {
    background: url(../images/glasses-category.jpg);
    
}

.sale {
    background: url(../images/sale-category.jpg);
    

}

.bags {
    background: url(../images/bags-category.jpg);

}

.womens {
    background: url(../images/womens-category.jpg);
}
.rect {
    background-size: cover;
    width: 50%;
    flex-wrap: wrap;

}
.product {
    background-size: cover;
    width: 25%;
    flex-wrap: wrap;
}
.second {
    text-align: center;
    height: 30vh;
    display: flex;
    flex-flow: column wrap;

} 

h2 {
    text-align: center;
}



h3 {
    color: #e2574c;
}

.categories a {
    text-decoration: none;
    color: white;
}

.newsletter {
    background: url(../images/wave-bkgd.jpg) no-repeat bottom;
    background-size: cover;
    height: 23vw;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    color: white;
}


footer {
    background-color: #242424;
    display: flex;
    color: white;
    background-size: cover;
    width: 100%;
    
    
}

.third-container {
    flex-flow: column wrap;
    color: white;
}


.social a {
    text-decoration: none;
    color: white;
}

.social ul {
    list-style-type: none;
}
.info a {
    text-decoration: underline;
    color: white;
}

.address {
    color: #969696;
}


.social {

    display: flex;
    flex-direction: column;

}


/*.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/*cell number*/ 
/*.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/




